<div id="app">
  <div class="day-box">
    <cLoading :active.sync="isLoading" />
    <div class="top">
      <div class="moon"></div>
      <div class="cloud">
        <div class="rain"></div>
        <div class="rain rain2"></div>
        <div class="rain rain3"></div>
      </div>
      <svg class="tem-svg">
        <g v-for="(item, index) in points" :key="index">
          <circle :cx="item.x" :cy="tmpLineY(index)" r="3" />
          <text :x="item.x" :y="tmpLineY(index)">{{ item.value }}°</text>
          <line
            v-if="index !== points.length - 1"
            :x1="points[index].x"
            :y1="tmpLineY(index)"
            :x2="points[index+1].x"
            :y2="tmpLineY(index+1)"
          />
        </g>
      </svg>
      <div class="text-area">
        <div class="temperature">26</div>
        <div class="info">
          <div class="address">台中市南屯區修井里</div>
          <div class="time">星期四早上8:00</div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="day-weather">
        <h3>Mon</h3>
        <svg viewBox="-50,-50,100,100">
          <circle class="sun" cx="0" cy="0" r="22"></circle>
          <circle class="cloud" cx="0" cy="30" r="20"></circle>
          <circle class="cloud" cx="-15" cy="30" r="20"></circle>
          <circle class="cloud" cx="-30" cy="30" r="20"></circle>
          <circle class="cloud" cx="-25" cy="10" r="15"></circle>
          <circle class="cloud" cx="-7" cy="15" r="15"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>TUE</h3>
        <svg viewBox="-50,-50,100,100">
          <circle class="sun" cx="0" cy="0" r="22"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>WED</h3>
        <svg viewBox="-63,-30,100,100">
          <line class="rain" x1="-35" y1="15" x2="-35" y2="35"></line>
          <line class="rain rain2" x1="-14" y1="5" x2="-14" y2="25"></line>
          <line class="rain rain3" x1="0" y1="20" x2="0" y2="45"></line>
          <circle class="cloud" cx="0" cy="30" r="20"></circle>
          <circle class="cloud" cx="-15" cy="30" r="20"></circle>
          <circle class="cloud" cx="-30" cy="30" r="20"></circle>
          <circle class="cloud" cx="-25" cy="10" r="15"></circle>
          <circle class="cloud" cx="-7" cy="15" r="15"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>THU</h3>
        <svg viewBox="-63,-30,100,100">
          <line class="rain" x1="-35" y1="15" x2="-35" y2="35"></line>
          <line class="rain rain2" x1="-14" y1="5" x2="-14" y2="25"></line>
          <line class="rain rain3" x1="0" y1="20" x2="0" y2="45"></line>
          <circle class="cloud" cx="0" cy="30" r="20"></circle>
          <circle class="cloud" cx="-15" cy="30" r="20"></circle>
          <circle class="cloud" cx="-30" cy="30" r="20"></circle>
          <circle class="cloud" cx="-25" cy="10" r="15"></circle>
          <circle class="cloud" cx="-7" cy="15" r="15"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>FRI</h3>
        <svg viewBox="-50,-50,100,100">
          <circle class="sun" cx="0" cy="0" r="22"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>SAT</h3>
        <svg viewBox="-50,-50,100,100">
          <circle class="sun" cx="0" cy="0" r="22"></circle>
        </svg>
      </div>
      <div class="day-weather">
        <h3>SUN</h3>
        <svg viewBox="-50,-50,100,100">
          <circle class="sun" cx="0" cy="0" r="22"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>
