<div id="app">
  <div class="day-box">
    <cLoading :active.sync="isLoading" />
    <div class="top" :style="styleTopBackground">
      <div v-if="darkDay" class="moon"></div>
      <div class="weather">
        <div v-if="showWeatherIcon('rain')" class="raining">
          <div class="rain"></div>
          <div class="rain rain2"></div>
          <div class="rain rain3"></div>
        </div>
        <div v-if="showWeatherIcon('sun')" class="sun">
          <svg viewBox="-75 -75 150 150">
            <circle cx="0" cy="0" r="45" />
          </svg>
        </div>
        <div v-if="showWeatherIcon('sun-cloud')" class="sun-cloud">
          <svg viewBox="-75 -75 150 150">
            <circle cx="20" cy="-10" r="30" />
            <g>
              <circle cx="10" cy="10" r="25" />
              <circle cx="-20" cy="0" r="25" />
              <circle cx="-30" cy="25" r="25" />
              <circle cx="30" cy="25" r="25" />
              <rect x="-30" y="0" width="60" height="50"></rect>
            </g>
          </svg>
        </div>
        <div v-if="showWeatherIcon('cloud')" class="cloud">
          <svg viewBox="-75 -75 150 150">
            <g>
              <circle cx="10" cy="0" r="25" />
              <circle cx="-20" cy="-10" r="25" />
              <circle cx="-30" cy="15" r="25" />
              <circle cx="30" cy="15" r="25" />
              <rect x="-30" y="-10" width="60" height="50"></rect>
            </g>
          </svg>
        </div>
      </div>
      <svg class="tem-svg">
        <g v-for="(item, index) in points" :key="index">
          <circle :cx="item.x" :cy="tmpLineY(index)" r="3" />
          <text :x="item.x" :y="tmpLineY(index)">{{ item.value }}°</text>
          <line
            v-if="index !== points.length - 1"
            :x1="points[index].x"
            :y1="tmpLineY(index)"
            :x2="points[index+1].x"
            :y2="tmpLineY(index+1)"
          />
        </g>
      </svg>
      <div class="text-area">
        <template v-if="weatherData">
          <div class="temperature">{{ weatherData[0].date }}</div>
          <div class="info">
            <div class="address">{{ location }}</div>
            <div class="time">星期{{ dataToTraditional(weatherData[0].day) }}</div>
          </div>
        </template>
      </div>
    </div>
    <div class="bottom">
      <component
        :is="currentWeather(index)"
        :day="dateToString(item.day)"
        v-if="weatherData"
        v-for="(item, index) in weatherData"
        :key="index"
      ></component>
    </div>
  </div>
</div>
