<div id="app">
  <div class="day-box">
    <cLoading :active.sync="isLoading" />
    <div class="top">
      <div class="moon"></div>
      <div class="cloud">
        <div class="rain"></div>
        <div class="rain rain2"></div>
        <div class="rain rain3"></div>
      </div>
      <svg class="tem-svg">
        <g v-for="(item, index) in points" :key="index">
          <circle :cx="item.x" :cy="tmpLineY(index)" r="3" />
          <text :x="item.x" :y="tmpLineY(index)">{{ item.value }}°</text>
          <line
            v-if="index !== points.length - 1"
            :x1="points[index].x"
            :y1="tmpLineY(index)"
            :x2="points[index+1].x"
            :y2="tmpLineY(index+1)"
          />
        </g>
      </svg>
      <div class="text-area">
        <template v-if="weatherData">
          <div class="temperature">{{ weatherData[0].date }}</div>
          <div class="info">
            <div class="address">{{ location }}</div>
            <div class="time">星期{{ dataToTraditional(weatherData[0].day) }}早上6:00</div>
          </div>
        </template>
      </div>
    </div>
    <div class="bottom">
      <component
        :is="currentWeather(index)"
        :day="dateToString(item.day)"
        v-if="weatherData"
        v-for="(item, index) in weatherData"
        :key="index"
      ></component>
    </div>
  </div>
</div>
